@media screen and (max-width:400px){
    .about1{
        flex-wrap: wrap;
        display: block;
    }
    .box{
        left: 15px;
        margin-top: 5%;
    }
    .about2{
        flex-wrap: wrap;
        display: block;
    }
    .box2{
        left: 15px;
        margin-top: 5%;
    }
    .services1{
        flex-wrap: wrap;
        display: block;
    }
    .square{
        left: 15px;
        margin-top: 5%;
    }
    .services2{
        display: block;
        flex-wrap: wrap;
    }
    .square2{
        left: 15px;
        margin-top: 5%;
    }
}